<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Sửa Sản Phẩm</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-100vh flex items-center justify-center">
<div class="h-1/2 w-1/2 ">
    <form action="#" method="post" th:action="@{/edit(id=${product.id})}" th:object="${productDto}" enctype="multipart/form-data" class="w-full p-2 h-full text-left flex flex-col items-center justify-center shadow">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
        <h2 class="text-2xl uppercase">Sửa sản Phẩm</h2>
        <div class="flex  flex-col w-full">
            <label >ID </label>
            <input class=" bg-slate-200 px-4 my-0.5 outline-none" th:value="${product.id}" type="text" readonly/>
        </div>
        <div class="flex  flex-col w-full">
            <label >Tên sản phẩm </label>
            <input class="border border-black px-4 my-0.5 outline-none" th:field="${productDto.name}" type="text" placeholder="Nhập tên sản phâm"/>
            <p th:errors="${productDto.name}" class="text-red-500 pt-2 text-sm" th:if="${#fields.hasErrors('name')}" ></p>
        </div>
        <div class="flex flex-col  w-full">
            <label >Nhãn hiệu </label>
            <input th:field="${productDto.brand}" class="px-4 my-0.5 outline-none border border-black" type="text" placeholder="Nhập tên Nhãn hiệu"/>
            <p th:errors="${productDto.brand}" class="text-red-500 pt-2 text-sm" th:if="${#fields.hasErrors('brand')}" ></p>

        </div>
        <div class="flex flex-col  w-full">
            <label >Loại sản phẩm </label>
            <input th:field="${productDto.category}" class="px-4 my-0.5 outline-none border border-black"  type="text" placeholder="Nhập loại..."/>
            <p th:errors="${productDto.category}" class="text-red-500 pt-2 text-sm" th:if="${#fields.hasErrors('category')}" ></p>

        </div>
        <div class="flex flex-col  w-full">
            <label >Mô tả sản phẩm </label>
            <textarea th:field="${productDto.description}" class="px-4 py-2 my-0.5 outline-none border border-black"  type="text" placeholder="Nhập loại..."/>
            <p th:errors="${productDto.description}" class="text-red-500 pt-2 text-sm" th:if="${#fields.hasErrors('description')}" ></p>

        </div>
        <div class="flex flex-col  w-full">
            <label >Giá </label>
            <input th:field="${productDto.price}" class="px-4 my-0.5 outline-none border border-black"  type="number" step="0.01" min="0" placeholder="Nhập giá "/>
            <p th:errors="${productDto.price}" class=" text-red-500 pt-2 text-sm" th:if="${#fields.hasErrors('price')}" ></p>

        </div>
        <div class="flex flex-col w-full">
            <div class="my-2">
                <img th:src="@{'/images/' +${product.imageFilename}}" alt="..." width="150">
            </div>
       <div class="flex items-center">
           <label >Ảnh </label>
           <input th:field="${productDto.imageFilename}" class="px-4 my-0.5 outline-none border border-black"  type="file" placeholder="Nhập "/>
           <p th:errors="${productDto.imageFilename}" class="text-red-500 pt-2 text-sm" th:if="${#fields.hasErrors('imageFilename')}" ></p></div>

    </div>
        <div class="flex flex-col  w-full">
            <label >Tạo tại lúc </label>
            <input th:value="${product.createdAt}" readonly class="px-4 my-0.5 outline-none bg-slate-200 outline-none"  type="text"  />


        </div>
        <div class="flex my-2">
            <button type="submit" class="bg-red-600 mx-2 px-6 text-white py-2 rounded-sm">Sửa sản phẩm</button>
            <a href="/products"  class="bg-slate-600 px-6 text-white py-2 rounded-sm">Thoát</a>

        </div>
    </form>


</div>

</body>
</html>
